.react-codemirror2 {
  height: 100%
}
.CodeMirror { 
  height: 100%
}
.reflex-container.vertical > .reflex-splitter {
  width: 4px !important;
  background-color: #c6c6c6 !important;
}
.reflex-container.vertical > .reflex-splitter:hover, .reflex-container.vertical > .reflex-splitter.active {
  background-color: #bbb !important;
  border-right: 1px solid #bbb !important;
  border-left: 1px solid #bbb !important;
}